@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital,wght@1,500&family=Montserrat:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navbar */

.Header {
    z-index: 1;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    background-color: white;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    box-shadow: 0px 0px 50px 0px rgb(122 75 90 / 60%);
}

@media(max-width:850px) {
    .Header {
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}

.Header>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Header>ul>li {
    margin-left: 25px;
}

.Header>ul>li>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

@media(max-width:480px) {
    .Header>ul>li>a {
        font-size: 12px;
    }

    .Header>ul>li {
        margin-left: 13px;
    }

    .Header>ul:last-child {
        margin-right: 15px;
    }
}

.Header>img {
    height: 75px;
}

/* for logo in header */

.Logo {
    height: 40px;
}

.Logo>a {
    display: flex;
    color: black;
    width: 33px;
    margin-right: 10px;
    height: 40px;
    display: inline-block;
}

.Logo>i {
    height: 50px;
    width: 47px;
}


/* image containre */

.imageSlider {
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

.slide {
    width: 100%;
}

.slide>img {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

.slideInfo {
    z-index: 0;
    font-family: 'Lora', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-left: 8px solid rgb(233, 233, 12);
    position: absolute;
    top: 230px;
    left: 50px;
    height: 200px;
    width: 400px;
    background-color: white;
    animation: slideInfo 10s linear infinite;
    padding-left: 10px;
}

@media(max-width:700px) {
    .slideInfo {
        height: 150px;
        width: 300px;
    }

    .slide>img {
        height: 400px;
    }
}

@keyframes slideInfo {
    100% {
        transform: translateX(-1000px);
    }
}

.slideInfo:hover {
    cursor: pointer;
    animation: city 100s linear infinite;
}


/* tool container */

.toolContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    background-color: gainsboro;
}

@media(max-width:1056px) {
    .toolContainer {
        justify-content: space-around;
        flex-direction: column;
        height: 700px;
    }
}

.card {
    background-image: url('https://aliah.ac.in/image/black_shadow.png') !important;
    background-position: left top !important;
    background-repeat: no-repeat !important;
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 20px rgb(122 75 90 / 60%);
}

@media(max-width:430px) {
    .card {
        height: 170px;
        width: 350px;
    }
}

.card1 {
    background-color: #fcd11a;
}

.card2 {
    background-color: #1ef585;
}

.card3 {
    background-color: #f222a3;
}

.card>img {
    display: block;
    width: 60%;
    height: 75%;
    margin-right: 10px;
    margin-left: 30px;
}

.cardInfo>p {
    font-size: 13px;
    font-family: 'Lora', serif;
    padding: 5px;
    color: black;
}

.cardInfo>h3 {
    color: black;
    margin-bottom: 10px;
}

.cardBtn {
    text-shadow: 0 -1px 0 rgb(0 0 0 / 20%);
    background-color: #28a4c9;
    border: none;
    color: white;
    padding: 1px 5px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%);
    border-radius: 3px;
    float: right;
    margin-right: 17px;
    margin-top: 5px;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    font-size: 13px;
}

.cardBtn:hover {
    background: #31b0d5;
}

/* About Bhabta Azizia High Madrasah and News */

.newsAboutContainer {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:980px) {
    .newsAboutContainer {
        height: 500px;
    }
}


.news {
    height: 245px;
    background-color: gainsboro;
    width: 200rem;
    margin: 20px;
    margin-top: 70px;
}

@media(max-width:840px) {
    .newsAboutContainer {
        flex-direction: column;
        justify-content: space-around;
    }

    .newsAboutContainer {
        height: 700px;
    }

    .news {
        width: 30rem;
    }

    .aboutBAHM>p {
        margin-left: 20px;
    }
}

@media(max-width:520px) {
    .news {
        width: 20rem;
    }
}

@media(max-width:740px) {
    .newsAboutContainer {
        height: 800px;
    }
}

@media(max-width:495px) {
    .newsAboutContainer {
        height: 900px;
    }
}

@media(max-width:605px) {
    .newsAboutContainer {
        height: 900px;
    }

    .aboutBAHM>h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .aboutBAHM>p {
        font-size: 14px;
    }
}

@media(max-width:475px) {
    .newsAboutContainer {
        height: 1000px;
    }
}

.newsHead {
    background-color: #28a4c9;
    box-shadow: 1px 10px 20px rgba(14, 1, 5, 0.6);
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 10px;
}

.aboutBAHM {
    font-family: 'Lora', serif;
}

@media(max-width:980px) {
    .aboutBAHM {
        margin-top: 50px;
    }
}

.aboutBAHM>h1 {
    text-align: center;
}

.newsInfo>a {
    text-decoration: none;
    color: #000;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.newsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newsInfo>hr {
    width: 100%;
    height: 2px;
}

/* photos Video gallery */

.gallery {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gallery>a {
    text-decoration: none;
    color: #000;
}

@media(max-width:1050px) {
    .gallery {
        flex-direction: column;
        height: 1200px;
    }
}

.Gcard {
    width: 250px;
    height: 250px;
    background-color: rgb(236, 234, 234);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 6px 6px 20px rgb(122 75 90 / 60%);
}

.Gcard>img {
    height: 150px;
    width: 250px;
}

.Gcard>h3 {
    margin-top: 10px;
    text-align: center;
}

.Gcard>p {
    text-align: center;
    font-family: 'Lora', serif;
}

/* footer */

footer {
    margin-top: 50px;
    background-color: rgb(236, 234, 234);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
}

@media(max-width:950px) {
    footer {
        flex-direction: column;
        height: 400px;
    }
}

.addPhoneLoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AddressCard {
    display: flex;
}

.AddressCard i {
    background-color: #33383b;
    color: #fff;
    font-size: 15px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.AddressCard p {
    display: inline-block;
    color: grey;
    font-weight: 600;
    margin-top: 17px;
    vertical-align: middle;
}

@media(max-width:510px) {
    .AddressCard>p {
        font-size: 12px;
    }

    .copyright>p {
        font-size: 12px;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --text-opacity: 1;
    color: rgba(160, 174, 192, var(--text-opacity));
    font-weight: 600;
}

.copyright>img {
    margin-bottom: 20px;
}